<div >
  <% if @user.profile_picture.attached? %>
  <%= image_tag @user.profile_picture, alt: "Profile Picture" %>
  <% else %>
  <%= image_tag "https://i.pinimg.com/originals/f1/0f/f7/f10ff70a7155e5ab666bcdd1b45b726d.jpg", size: "200x200",class: "pro", alt: "Default Profile Picture" %>
  <% end %>
  <p class = "name"><%= @user.full_name%></p>
  <p class = "rateme"><%= @user.personal_rating%>*| Ratings</p>
  <p class = "abtme"><%= @user.about_me%></p>
  <%= image_tag "https://www.google.com/url?sa=i&url=https%3A%2F%2Ficones.pro%2Fen%2Fgray-line-icon-png-symbol%2F&psig=AOvVaw2rzlnRybjNEiXXCO-dPKZ3&ust=1686080134376000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCJjBs43wrP8CFQAAAAAdAAAAABAE", width: "20x2",  class: "line" %>
  <h5 class = "writeamt">Amount</h5>
  <%= text_field_tag 'amount' %>
  <h5 class = "rateplz">Rating</h5>
  <%=  text_field_tag 'star' %>
  <h5 class = "rateplz">Review</h5>
  <%= text_field_tag 'review'  %>
  <br>
  <%= button_tag 'Pay', type: 'submit'%>
</div>