<%= javascript_include_tag('userlist.js') %>
<div class="container-fluid list">
    <div class="">
        <div class="row">
            <div class="col-lg-9">
                <div class="main-box clearfix">
                    <div class="table-responsive">
                        <h5 id="userlist-heading" class="username">User-List</h5>
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span>Name </span></th>
                                    <th><span>Email</span></th>
                                    <th class="text-center"><span>Phone Number</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @users.each do |user| %>
                                <tr onclick="openSidebar(this)" class="table-row cursor-pointer">
                                    <td>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-username" />
                                        <p class="fs-6 mt-3 cursor-help"><%= "#{user.first_name} #{user.last_name}" %></p>
                                    </td>
                                    <td>
                                        <a class="cursor-pointer email text-dark pl-5"><%= user.email %></a>
                                    </td>
                                    <td class="text-center">
                                        <p class="phone fs-6 pt-3"><%= user.mobile_number %></p>
                                    </td>
                                    

                                    <td class="d-none">
                                        <p class="address"><%= user.address %></p>
                                        <p class="aboutme"><%= user.about_me %></p>
                                        <p class="businessid"><%= user.business_id_card %></p>
                                    </td>
                                </tr>
                                <% end %>

                                
    
                            </tbody>
                        </table>
                        <div class="pagination-container">
                          <div class="links">
                            <%= will_paginate @users, previous_label: 'Previous', next_label: 'Next', class: 'link' %>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div id="panelA" class="side-panel fixed-side-panel">
                    <div class="user-info">
                        <img src="" alt="User Profile Image" class="user-profile-image" />
                        <h5 class="username">Mila Kunis</h5>
                        <a href="#" class="btn btn-link">
                            <p class="businessid">Business ID</p>
                        </a>
                        
                    </div>
                    <div class="contact-info">
                        <h5 class="pt-4">Contact Info</h5>
                        <p class="email d-flex align-items-center">
                            <i class="fa fa-envelope me-2 icon-style" ></i>
                            <a href="mailto:mila@kunis.com">mila@kunis.com</a>
                        </p>

                        <i class="fa fa-phone fs-4 icon-style" ></i>
                        <p class="phone d-flex align-items-center"></p>
                        
                        <i class="fa fa-map-marker fs-4 icon-style" ></i><p class="address pb-2"></p>
                       
                        <h5 class="aboutme-heading">About Me :- &nbsp;&nbsp;</h5><h5 class="aboutme"></h5>
                        
                    </div>
                    <button id="suspend-btn" class="btn">Suspend</button>
                </div>
            </div>
        </div>
    </div>
</div>