<!DOCTYPE html>
<html>
  <head>
    <title>SPA native</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="app/assets/images/MyTipsLogo.svg" type="image/icon type">
    <%= favicon_link_tag asset_path('MyTipsLogo.svg') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', :defer => "defer" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>